* {
    margin: 0;
    padding: 0;

}


body {
    background-image: url(https://wallpapercave.com/wp/wp3102483.jpg);
    background-image: no-repeat;


}

li,
a,
img {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255, 255, 255);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}



.logo {
    cursor: pointer;

}

.nav-bar {
    list-style: none;
    background-color: transparent;

}

.nav-bar li {
    display: inline-block;
    padding: 0rem 1rem;
    text-decoration: none;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li a {
    transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
    color: #0088a9;
}


.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0,5rem;
    list-style: none;
}

.insta {
    padding-right: 1rem;
}

.link {
    padding-right: 1rem;
}


.logo {
    width: 5rem;
    height: 5rem;
    margin-left: 0,5rem;
    list-style: none;
}

p {
    margin: 0;
}

.typewriter {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0,5rem solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}


.typewriter2 {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0,5rem solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter3 {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0,5rem solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter4 {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}


.typewriter {
    animation: blinkCursor 500ms steps(40) infinite normal, typewriter 6s steps(40) 2s normal both;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: transparent;
    }
}


.typewriter2 {
    animation: blinkCursor 500ms steps(40) infinite normal, typewriter 6s steps(40) 2s normal both;
}

@keyframes typewriter2 {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: transparent;
    }
}


.typewriter3 {
    animation: blinkCursor 500ms steps(40) infinite normal, typewriter 6s steps(40) 2s normal both;
}

@keyframes typewriter3 {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: transparent;
    }
}


.typewriter4 {
    animation: blinkCursor 500ms steps(40) infinite normal, typewriter 6s steps(40) 2s normal both;
}

@keyframes typewriter4 {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: transparent;
    }
}


.text-box {
    border-radius: 15px;
    border: whitesmoke solid;
    background: whitesmoke;
    width: 35rem;
    height: 50rem;
    position: relative;
    opacity: 80%;
    margin: 5rem auto;

}

.text-box h3 {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    margin: 1rem 10rem;
}

.my-photo {
    width: 20vh;
    height: 20vh;
    position: relative;
    margin-left: 10rem;
    border-radius: 150px;

}

.text {
    margin-left: 2rem;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}


.text-box h3 {
    text-align: center;
}

.skills h2 {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 1rem;
    text-align: center;
    font-weight: 500;
}

.meter-html {
    height: 2%;
    width: 60%;
    margin-left: 5rem;
    margin-top: 3rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter-html span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 95%,
            rgb(84, 248, 84) 69%);

    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}


.meter-css {
    height: 2%;
    width: 60%;
    margin-left: 5rem;
    margin-top: 3rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter-css span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 95%,
            rgb(84, 248, 84) 69%);

    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter-java {
    height: 2%;
    width: 60%;
    margin-left: 5rem;
    margin-top: 3rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter-java span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 95%,
            rgb(84, 248, 84) 69%);

    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter-sql {
    height: 2%;
    width: 60%;
    margin-left: 5rem;
    margin-top: 3rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter-sql span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 95%,
            rgb(84, 248, 84) 69%);

    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}



.meter-git {
    height: 2%;
    width: 60%;
    margin-left: 5rem;
    margin-top: 3rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter-git span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 95%,
            rgb(84, 248, 84) 69%);

    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}